<!DOCTYPE html>
<html>
  <head>
    <title>Jam Express</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

<body>
    <nav class="navbar navbar-default navbar-collapse" id="main-nav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div id="logo" class="navbar-brand" href="#"><%=image_tag("music-sign.png")%></div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav">
                    <li class="navButton"><a href="/login">Sign In<span class="sr-only">(current)</span></a></li>
                    <li><a href="/register" class="navButton">Register</a></li>
                </ul>                

                <ul class="nav navbar-nav">
                    <li class="navButton"><a href="/logout">Logout<span class="sr-only">(current)</span></a></li>
                </ul>
            
        </div>
    </nav>

    
        
    

    <div id="main">
        <div class="container">
            <%= yield %>
        </div>
    </div>


    <div id="site-footer">
        <div class="container">
            <div class="col-sm-6">
                <p>A rideshare meetup app for music lovers.</p>
            </div>

            <div class="col-sm-6">
                <div id="social" class="pull-right">
                    <a href="http://www.facebook.com"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                    <a href="http://www.twitter.com"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div> <!-- #site-footer -->
    <!-- <div id="bottomstrip"> We appreciate your visit to Jam Express - Come back and see us!</div> -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
